{% extends 'core/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <nav class="mb-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'championship_list' %}active{% endif %}" 
                       href="{% url 'tournaments:championship_list' %}">Championships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'season_list' %}active{% endif %}" 
                       href="{% url 'tournaments:season_list' %}">Seasons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'league_list' %}active{% endif %}" 
                       href="{% url 'tournaments:league_list' %}">Leagues</a>
                </li>
            </ul>
        </nav>
        
        {% block tournament_content %}{% endblock %}
    </div>
</div>
{% endblock %}