<div>
    <h1>{{ club.name }}</h1>
    <p>Country: {{ club.country }}</p>
    <p>Owner: {{ club.owner.username }}</p>

    <!-- Форма для создания игрока -->
    <form action="{% url 'clubs:create_player' club.id %}" method="post">
        {% csrf_token %}
        <label for="position">Выберите позицию:</label>
        <select name="position" id="position">
            <option value="Goalkeeper">Вратарь</option>
            <option value="Defender">Защитник</option>
            <option value="Midfielder">Полузащитник</option>
            <option value="Forward">Нападающий</option>
        </select>
        <button type="submit">Создать игрока</button>
    </form>
</div>
